@import '../../../../style/theme.scss';

.examArrange {
  width: 100%;
  height: 100%;
  background-color: $color-background;
  // padding-top: 32px;
  box-sizing: border-box;

  &-content {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &-item {
      background-color: #ffffff;
      border-radius: 20px;
      padding: 24px 32px;
      box-sizing: border-box;
      margin-bottom: 32px;
      position: relative;
      box-shadow: 2px 2px 2px #eee;

      &_passed {
        opacity: 0.4;
        background-color: #eeeeee;
      }

      &-finished {
        position: absolute;
        top: 24px;
        right: 32px;
        font-size: 30px;
        color: $color-grey;
      }

      &-title {
        color: $color-semi;
        font-size: 34px;
        margin-bottom: 12px;
      }

      &-value {
        display: flex;
        align-items: center;
        font-size: 30px;
        color: $color-grey;
        margin-top: 12px;

        &_icon {
          position: relative;
          top: 2px;
        }
      }
    }
  }

  &-none {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &-noneImg {
      width: 400px;
      height: 400px;
    }

    &-noneText {
      color: $color-grey;
      font-size: 32px;
    }

    &-ad {
      margin-top: 80px;
    }
  }
}

