.courseTable {
  display: flex;
  width: 710px;
  position: absolute;
  background-color: rgba(255, 0, 0, 0);

  &-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}
