@import "../../../style/theme.scss";

.courseDetailFloatLayout {
  color: $color-semi;

  &-header {
    margin: 36px 0;
    padding: 0 88px;
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: bold;
    color: $color-semi;
    text-align: center;

    &-close {
      position: absolute;
      right: 36px;
      top: 36px;

      &:active {
        opacity: 0.6;
      }
    }
  }

  &-content {
    padding: 0 48px;
    margin-bottom: 16px;

    &-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      font-size: 34px;
      margin-bottom: 16px;

      &_detail {
        font-size: 30px;
        margin-bottom: 12px;
        color: $color-light;
      }
    }

    &-memo {
      padding: 16px 0;

      &-title {
        font-size: 34px;
        color: $color-semi;
        margin-bottom: 16px;

        &_comment {
          color: $color-light;
          font-size: 28px;
        }
      }

      &-input {
        width: inherit;
        height: 120px;
        padding: 20px;
        border-radius: 20px;
        background-color: $color-background;
      }
    }
  }

  &-detail {
    width: 100%;
    background-color: $color-background;
    border-radius: 20px;

    &-content {
      width: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding: 0 24px;
      padding-bottom: 16px;
    }
  }

  &-footer {
    padding: 0 48px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;

    &-btnBox {
      width: 100%;
    }

    &_blank {
      width: 52px;
    }

  }

  &-itemTitle {
    color: $color-light;
  }
}

.at-accordion__content::after {
  border-top: none;
}

.at-accordion__header {
  padding: 18px 0;
}

.at-accordion {
  padding: 0 36px;
}

.at-accordion__info__title {
  color: $color-light;
  font-size: 30px;
}
