@import "../.../../../../../style/theme.scss";

.donate {
  padding-top: 8px;
  padding-bottom: 72px;

  &-header {
    width: 100%;
    padding: 32px 32px;
    margin-bottom: 48px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px #e8e8e8;

    &_title {
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      color: $color-font-brand;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_comment {
      margin-top: 32px;
      background-color: $color-background;
      padding: 16px 24px;
      border-radius: 12px;
      color: $color-grey;
      font-size: 28px;
    }
  }

  &-item {
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 24px;
      margin-left: 24px;

      &__value {
        margin-left: 24px;
        font-size: 32px;
        color: $color-semi;
      }
    }

    &-content {
      padding: 0 48px;

      &-list {
        color: $color-grey;
      }

      &-text {
        color: $color-grey;
        margin-bottom: 24px;
      }

      &-comment {
        background-color: $color-background;
        padding: 16px 20px;
        border-radius: 12px;
        color: $color-grey;
        font-size: 28px;
      }

      &_btn {
        margin-top: 32px;
        height: 90px;
        width: 100%;
        font-size: 32px;
        // color: #ffffff;
        color: $color-font-brand;
        line-height: 90px;
        // background-color: $color-brand;
        background-color: $color-background;
        border-radius: 50px;
        // border: 2px solid #dddddd;
        border: none;
        box-shadow: 1px 1px 2px #dddddd;

        &:active {
          box-shadow: none;
        }

        &_donate {
          // background-color: $color-error;
          color: $color-error;
        }
      }

      &_img {
          margin-left: 10%;
          width: 80%;
          height: 523px;
      }
    }
  }

  &-line {
    height: 2px;
    width: 654px;
    background-color: #e8e8e8;
    margin: 48px 48px;
  }
}
