@import "../../../../style/theme.scss";

.allSchedule {
  height: 100%;
  
  &-header {
    height: 190px;
    width: 100%;
    z-index: 8;
    position: fixed;
  }

  &-content {
    margin-top: 190px;
    width: 100%;
    display: inline-flex;
    padding-bottom: 160px;
  }
  
}
