@import "../../../../style/theme.less";

.timeLine {
  width: 40px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // align-items: center;

  &-time {
    height: 100px;
    color: #666;
    font-size: 24px;
    background-color: #eee;
    border-bottom: 1px solid #eee;
  }
}
