@import "../../../../style/theme.scss";

.courseDetailFloatLayout {
  color: $color-semi;

  &-header {
    margin: 36px 0;
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: bold;
    color: $color-semi;
    text-align: center;

    &-close {
      position: absolute;
      right: 36px;
      top: 36px;

      &:active {
        opacity: 0.6;
      }
    }
  }

  &-content {
    padding: 0 48px;
    margin-bottom: 16px;

    &-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      font-size: 34px;
      margin-bottom: 16px;
    }

    &-memo {
      padding: 16px 0;

      // background-color: red;
      &-title {
        font-size: 34px;
        color: $color-semi;
        margin-bottom: 16px;

        &_comment {
          color: $color-light;
          font-size: 28px;
        }
      }

      &-input {
        width: inherit;
        height: 150px;
        padding: 20px;
        border-radius: 20px;
        background-color: $color-background;
      }
    }


  }

  &-footer {
    padding: 0 48px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;

    &-btnBox {
      width: 100%;
    }

    &_blank {
      width: 52px;
    }

  }

  &-itemTitle {
    color: $color-light;
  }
}
