@import "../../style/theme.scss";

.standardFloatLayout {

  &-header {
    margin: 36px 0;
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: bold;
    color: $color-semi;
    text-align: center;

    &-close {
      position: absolute;
      right: 36px;
      top: 36px;

      &:active {
        opacity: 0.6;
      }
    }
  }

  &-content {
    padding: 0 48px;
    margin-bottom: 56px;

    &-center {
      text-align: center;
    }

    &-content {
      font-size: 32px;
      color: $color-grey;
    }

  }

  &-footer {
    padding: 0 24px;
    box-sizing: border-box;
    padding-bottom: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_btnBox {
      width: 100%;
    }

    &-noBtn {
      padding-bottom: 1px;
    }

    &_blank {
      width: 52px;
      height: 20px;
    }
  }
}
