@import "../../../../style/theme.scss";

.schedule {

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    &-selectBtn {
      background-color: #ddd;
      opacity: 0.8;
      color: $color-semi;
      padding: 4px 16px;
      border-radius: 10px;
      border: 2px solid #ddd;
      &:active {
        background-color: #eee;
      }
    }

    &-pop {
      border-radius: 50%;
      width: 108px;
      height: 108px;
      background-color: #ddd;
      margin: 36px;
      border: 2px solid #ddd;
      opacity: 0.7;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-text {
        color: $color-semi;
        font-size: 27px;
      }

      &-active {
          background-color: $color-brand;
      }

      &:active {
        background-color: #eee;
      }
    }
  }
}
