@import '../../../../style/theme.scss';

.mooc {
  width: 100%;
  height: 100%;
  background-color: $color-background;
  padding-top: 32px;
  box-sizing: border-box;

  &-subTitle {
    display: flex;
    align-items: center;
    margin: 0 32px 24px 32px;


    &_text {
      font-size: 28px;
      color: $color-grey;
      margin-left: 8px;
    }
  }

  &-notice {
    margin: 0 32px 48px 32px;

    &-item {
      padding-bottom: 12px;
    }

    &-title {
      color: $color-semi;
    }

    &-comment {
      color: $color-grey;
    }

    &-url {
      color: $color-font-brand;
    }
  }

  &-item {
    margin: 0 32px 24px 32px;
    border-radius: 16px;
    background-color: #fff;

    &-content {
      width: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4px 0;

      &-line {
        height: 2px;
        background-color: #dddddd;
        width: 100%;
        margin-bottom: 24px;
      }

      &-list {
        width: 100%;

        &-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 24px;

          &_title {
            color: $color-grey;
            font-size: 30px;
            margin-bottom: 8px;
          }

          &_info {
            color: $color-light;
            font-size: 28px;
          }
        }
      }
    }
  }

  &-none {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &-noneImg {
      width: 400px;
      height: 400px;
    }

    &-noneText {
      color: $color-grey;
      font-size: 32px;
    }

    &-ad {
      margin-top: 80px;
    }
  }
}


.at-accordion__content::after {
  border-top: none;
}

.at-accordion__info__title {
  color: $color-semi;
}

.at-accordion__info__note {
  color: $color-grey;
}
