@import './theme.scss';
@import './courseBox.scss';

page {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

// 覆写taro-ui的float-layout样式
.at-float-layout__container {
  border-radius: 32px 32px 0 0;
  min-height: 324px!important;
  max-height: 2800px!important;
}
.layout-body {
  min-height: 324px!important;
  max-height: 2800px!important;
  &__content {
    min-height: 300px!important;
    max-height: 2788px!important;
  }
}

.at-float-layout {
  z-index: 2000!important;
}

