@import './theme.scss';

.courseBox {
  width: 100%;
  // opacity: 0.88;
  background-color: rgba(255, 0, 0, 0);
  box-sizing: border-box;
  border-top: 0;
  border-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:active {
    background-color: #f3f4f5;
  }

  &-4 {
    border-bottom: 0;
  }

  &-course {
    position: absolute;
    width: 97px;
    padding: 2px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 5px;
    bottom: 5px;

    &:active {
      opacity: 0.7;
    }

    &-boxType {

      &_0 {
        height: 98%;
      }
  
      &_1 {
        height: 194px;
      }
  
      &_2 {
        height: 98%;
      }
  
      &_3 {
        bottom: 6px;
        height: 393px;
      }
    }

    &__doubleLeft {
      left: 5px;
      width: 48px;
    }

    &__doubleRight {
      left: 54px;
      width: 48px;
    }

    &-name {
      width: 100%;
      text-align: center;
      color: #ffffff;
      font-size: 26px;

    }

    &-clazzRoom {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      color: #ffffff;
      font-size: 20px;
    }
  }

  &-boxType {

    &_0 {
      height: 100px;
      // background-color: green;
    }

    &_1 {
      height: 200px;
      // background-color: yellow;
    }

    &_2 {
      height: 299px;
      // background-color: red;
    }

    &_3 {
      height: 399px;
      // background-color: blue;
    }
  }

  // &-null {
  // }

// 盒子 主题颜色
  &-boxColor {

    // 默认主题
    &-init_0 {
      background-color: #000000;
    }

    &-blue_0 {
      background-color: $blue_b0;
    }

    &-darkBlue_0 {
      background-color: $darkBlue_b0;
    }

    &-red_0 {
      background-color: $red_b0;
    }

    &-yellow_0 {
      background-color: $yellow_b0;
    }

    &-green_0 {
      background-color: $green_b0;
    }

    &-gray_0 {
      background-color: $gray_b0;
    }

    &-darkGray_0 {
      background-color: $darkGray_b0;
    }

    &-brown_0 {
      background-color: $brown_b0;
    }

    &-orange_0 {
      background-color: $orange_b0;
    }

    &-purple_0 {
      background-color: $purple_b0;
    }

    // 活泼主题
    &-init_1 {
      background-color: #000000;
    }

    &-blue_1 {
      background-color: $blue_b1;

    }

    &-darkBlue_1 {
      background-color: $darkBlue_b1;
    }

    &-red_1 {
      background-color: $red_b1;
    }

    &-yellow_1 {
      background-color: $yellow_b1;
    }

    &-green_1 {
      background-color: $green_b1;
    }

    &-orange_1 {
      background-color: $orange_b1;
    }

    &-purple_1 {
      background-color: $purple_b1;
    }

    &-pink_1 {
      background-color: $pink_b1;
    }

    &-gold_1 {
      background-color: $gold_b1;
    }

    // 莫兰蒂主题
    &-init_2 {
      background-color: #000000;
    }

    &-blue_2 {
      background-color: $blue_b2;

    }

    &-purple_2 {
      background-color: $purple_b2;
    }

    &-red_2 {
      background-color: $red_b2;
    }

    &-yellow_2 {
      background-color: $yellow_b2;
    }

    &-green_2 {
      background-color: $green_b2;
    }

    &-pink_2 {
      background-color: $pink_b2;
    }

    &-orange_2 {
      background-color: $orange_b2;
    }

    &-grey_2 {
      background-color: $grey_b2;
    }

    &-brown_2 {
      background-color: $brown_b2;
    }
  }

// 文字 主题颜色
  &-fontColor {

    // 活泼主题
    &-blue_1 {
      color: $blue_f1;
    }

    &-darkBlue_1 {
      color: $darkBlue_f1;
    }

    &-red_1 {
      color: $red_f1;
    }

    &-yellow_1 {
      color: $yellow_f1;
    }

    &-green_1 {
      color: $green_f1;
    }

    &-orange_1 {
      color: $orange_f1;
    }

    &-purple_1 {
      color: $purple_f1;
    }

    &-pink_1 {
      color: $pink_f1;
    }

    &-gold_1 {
      color: $gold_f1;
    }
  }
}
