/* 主题色 */
$color-brand: #3374ff;
$color-font-brand: #0089ff;
$color-brand-light: #29a2ff;
$color-brand-background: #e6f6ff;

/* 提示色 */
$color-success: #52c41a;
$color-warning: #faad14;
$color-error: #f33f3f;

/* 背景色 */
$color-background:#f6f7f9;

/* 分割线 */
$color-line: #e8e8e8;

/* 文字色 */
$color-semi: #202124;
$color-grey: #60646b;
$color-light: #919499;

// 课表主题
// 默认主题（0）copy自合工大教务app
// 背景颜色
$blue_b0: #63b1ef;
$darkBlue_b0: #6181b2;
$red_b0: #f09789;
$yellow_b0: #e8c07a;
$green_b0: #a3cf94;
$gray_b0: #cccccc;
$darkGray_b0: #8998ab;
$brown_b0: #d5be9f;
$orange_b0: #f3a662;
$purple_b0: #9a88c4;
// 文字颜色
$blue_f0: #ffffff;
$darkBlue_f0: #ffffff;
$red_f0: #ffffff;
$yellow_f0: #ffffff;
$green_f0: #ffffff;
$gray_f0: #ffffff;
$darkGray_f0: #ffffff;
$brown_f0: #ffffff;
$orange_f0: #ffffff;
$purple_f0: #ffffff;

// 活泼主题（1）copy自小米课表
$blue_b1: #e6f4ff;
$darkBlue_b1: #eaf2ff;
$red_b1: #ffeff0;
$yellow_b1: #fcebcd;
$green_b1: #defbf7;
$orange_b1: #fbebdd;
$purple_b1: #eeedff;
$pink_b1: #ffeef8;
$gold_b1: #fff9c9;
//文字颜色
$blue_f1: #00a1f0;
$darkBlue_f1: #4a7beb;
$red_f1: #eb4864;
$yellow_f1: #ff9100;
$green_f1: #36abbf;
$orange_f1: #f95c40;
$purple_f1: #7875e1;
$pink_f1: #f171bf;
$gold_f1: #caa920;

// 莫兰蒂主题（1）copy自https://k.sina.com.cn/article_2647081007_p9dc7402f02700nt4l.html#p=2
$blue_b2: #8BBACA;
$purple_b2: #9393AB;
$red_b2: #CE8D93;
$yellow_b2: #E1BB72;
$green_b2: #B0CCB3;
$pink_b2: #E4A294;
$orange_b2: #E19E57;
$grey_b2: #B1B6BA;
$brown_b2: #AE9172;
//文字颜色
$blue_f2: #ffffff;
$purple_f2: #ffffff;
$red_f2: #ffffff;
$yellow_f2: #ffffff;
$green_f2: #ffffff;
$pink_f2: #ffffff;
$orange_f2: #ffffff;
$grey_f2: #ffffff;
$brown_f2: #ffffff;

// 罗时锴色系
$blue_b3: #a1efef;
$purple_b3: #e3c2f9;
$red_b3: #ab9be6;
$yellow_b3: #ffefa1;
$green_b3: #99dcbd;
$pink_b3: #ffdce2;
$orange_b3: #fed9bf;
$blue2_b3: #bfd0fc;
$green2_b3: #e8fcb5;
//文字颜色
$blue_f3: #21a7a8;
$purple_f3: #8851af;
$red_f3: #634ead;
$yellow_f3: #cca74c;
$green_f3: #4c9c77;
$pink_f3: #d35668;
$orange_f3: #ba7f55;
$blue2_f3: #536fb0;
$green2_f3: #a0bd51;
