@import "../../style/theme.scss";

.schedule {
  height: fit-content;
  // background-color: blue;
  
  &-header {
    height: 190px;
    width: 100%;
    z-index: 8;
    position: fixed;
  }

  &-content {
    margin-top: 190px;
    width: 100%;
    display: inline-flex;
    padding-bottom: 160px;

  }

  &-background {
    z-index: -10;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    &_img {
      width: 100%;
      height: 100%;
    }
  }
}
