@import '../../../../style/theme.scss';

.eventBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &-course {
    position: absolute;
    width: inherit;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $color-background;

    &:active {
      opacity: 0.6;
    }

    &_mult {
      border: 2px dashed $color-grey;
    }

    &__doubleLeft {
      left: 5px;
      width: 49%;
    }

    &__doubleRight {
      left: 52%;
      width: 49%;
    }

    &-name {
      flex: 4;
      width: 100%;
      color: #ffffff;
      font-size: 32px;

    }

    &-clazzRoom {
      flex: 3;
      width: 100%;
      color: #ffffff;
      font-size: 26px;
    }

    &-memo {
      flex: 3;
      width: 100%;
      font-size: 23px;
      opacity: 0.75;
    }
  }

  &-umbrella {
    position: absolute;
    padding: 24px;
    right: 0;
  }

  &-noon {
    position: absolute;
    background-color: $color-background;
    width: inherit;
    border-radius: 20px;
    text-align: center;
    color: $color-light;
    font-size: 32px;
  }

  &-mask {
    position: absolute;
    top: 0;
    opacity: 0.2;
    width: inherit;
    height: inherit;
    border-radius: 20px;
    background: linear-gradient(45deg, #888 25%, #aaa 0, #aaa 50%, #888 0, #888 75%, #aaa 0);
    background-size: 100px 100px;
    opacity: 0.3;

    &:active {
      opacity: 0.2;
    }
  }

}
